

body {
    background-color: white;
    color: #000;
}

body.dark {
    background-color: rgb(24, 20, 38);
    color: white;    

}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px 0 20px 0;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    margin: 10px 0;
    padding: 8px;
    font-weight: bold;
    background-image: linear-gradient(to right top, #e1e6ff, #c5f1ff, #aefcff, #bbffdf, #e9ffb9);
    
}

